# pnpm configuration — see https://pnpm.io/npmrc
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shamefully-hoist=false
strict-peer-dependencies=true
auto-install-peers=true
prefer-workspace-packages=true
link-workspace-packages=deep
save-exact=false
save-workspace-protocol=rolling
engine-strict=true
node-linker=isolated
